{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Register</h1>
</div>

<div class="card-body">
    <form method="POST" style="margin-top: 18px;">
        {% csrf_token %}
        <label>{{ form.username.label }}</label>
        {{ form.username }}
        <label>{{ form.password1.label }}</label>
        {{ form.password1 }}
        <label>{{ form.password2.label }}</label>
        {{ form.password2 }}
        <input
            style="margin-top: 18px;"
            class="button-no-margin"
            type="submit"
            value="Login"
        />
    </form>
    <p>Already signed up? <a href="{% url 'login' %}">Click here</a> to sign in.</p>
</div>



{% endblock content %}